[class*="col-"] {
    /* debug */
    min-height: 100px;
    background-color: #EBECF0;
    border: solid 1px #C4C3C8;   
}

.container {
    border: solid 5px black;
    margin-top: 10px;
}

span {
    z-index: 1000;
}